/*************************************************************************************/
body .demo-ribbon {
    position: fixed;
    top: 25%;
    left: 0px;
    z-index: 99999;
    text-align: center;
}

body .demo-ribbon span {
    font-size: 10px;
    color: #f0f0f0;
    text-transform: uppercase;
    line-height: 20px;
    width: 120px;
    height: 120px;
    display: block;
    background: #E04237;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    background: linear-gradient(#E04237 0%, #E04237 100%);
    position: absolute;
    left: -100px;
    letter-spacing: .2rem;
}

body .demo-ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
}
/*************************************************************************************/
.radio-checkbox-boxed ul {
    list-style-type: none;
}

.radio-checkbox-boxed label:hover {
    background-color: #B4B4B4;
    color: #000 !important;
}

.radio-checkbox-boxed input[type="radio"] {
    opacity: 0;
    position: fixed;
}

.radio-checkbox-boxed label {
    background-color: #fff;
    color: #555 !important;
    padding: 7px 20px;
    font-size: 14px;
    border: 1px solid #B4B4B4;
    text-transform: uppercase;
    min-height: 36px;
    overflow: hidden;
    text-align: center;
    font-family: 'Roboto', Sans-Serif;
}

.radio-checkbox-boxed ul li {
    display: table-cell;
    color: #000;
}

.radio-checkbox-boxed ul li:last-child label {
    border-radius: 0px 3px 3px 0px;
}

.radio-checkbox-boxed ul li:first-child label {
    border-radius: 3px 0px 0px 3px;
}

.radio-checkbox-boxed ul li:not(:first-child) label,
.radio-checkbox-boxed ul li:not(:first-child) input[type="radio"]:checked+label {
    border-left: 0px;
}

.radio-checkbox-boxed ul li:only-child label {
    border-radius: 3px;
}

.radio-checkbox-boxed input[type="radio"]:focus+label {
    color: #000;
}

.radio-checkbox-boxed input[type="radio"]:checked+label {
    color: #fff !important;
    border: 1px solid #1b5880;
}
/*************************************************************************************/
#times-holder li {
    padding: 0;
}
#times-holder li label{
    margin-bottom: 0;
    padding: 10px;
    color: #575656;
}

#times-holder li>input[type="radio"]:checked+label,
#times-holder li>input[type="radio"]:checked+label:hover {
    background: #604881;
    border-radius: 5px;
    color: #FFF;
}
/*************************************************************************************/
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #1b5880 #f2f2f2;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: #f2f2f2;
}

*::-webkit-scrollbar-thumb {
    background-color: #604881;
    border-radius: 10px;
    border: 3px solid #604881;
}